@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

label {
  font-size: 1.2rem;
  margin-right: 1rem;
}

input {
  border-radius: 10px;
  margin-bottom: 0.4rem;
  padding: 1rem;
  font-size: 1rem;
  box-shadow: 10px 10px 5px lightgray;
}

textarea {
  border-radius: 10px;
  padding: 1rem;
  padding-left: 1rem;
  box-shadow: 10px 10px 5px lightgray;
}

.custom-img {
  background-image: url("/public/assets/company_bg.jpg");
}

.contact-img {
  background-image: url("/public/assets/Index_deco_map.png");
}
